<div>
	{{weight}} {{unit}}
	{{#if active}}
		{{#ratchet-button type="link" on-click="removePlate"}}
			{{ratchet-icon type="down"}}
		{{/ratchet-button}}
		{{#ratchet-badge}}
			{{count}}
		{{/ratchet-badge}}
		{{#ratchet-button type="link" on-click="addPlate"}}
			{{ratchet-icon type="up"}}
		{{/ratchet-button}}
	{{/if}}
</div>
{{ratchet-toggle active=active}}