<div class="content-padded">
	<h1>{{effectiveWeight}} {{unit}}</h1>
	<div class="card">
		<h3 {{action "openModal" "settings/weights"}} class="pull-left">
			{{weight}} {{unit}}
			{{ratchet-icon type="caret"}}
		</h3>
		<h3 {{action "openModal" "settings/percentages"}} class="pull-left">
			@ {{percentage}}%
			{{ratchet-icon type="caret"}}
		</h3>
		<h3 {{action "openModal" "settings/bar-weights"}} class="pull-left">
			{{barWeight}} {{unit}}
			{{ratchet-icon type="caret"}}
		</h3>
	</div>
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell table-view-divider">
				Plates per side
				{{#ratchet-button type="negative" on-click="reset"}}
					Reset
				{{/ratchet-button}}
			</li>
			{{#each stack in sideStacks}}
				{{#if stack.length}}
					<li class="table-view-cell">
						{{stack.length}} x {{stack.plateWeight}} {{unit}} = {{stack.totalWeight}} {{unit}}
						{{#ratchet-button type="link" click="removePlate"}}
							{{ratchet-icon type="down"}}
						{{/ratchet-button}}
					</li>
				{{/if}}
			{{/each}}
			<li class="table-view-cell table-view-divider">
				Total: {{sideStacks.totalWeight}} {{unit}}
			</li>
		</ul>
	</div>	
</div>