<div class="content-padded">
	<h1>{{effectiveWeight}} {{unit}}</h1>
	<div class="card">
		{{#ratchet-popover-link tagName="h3" classNames="pull-left" name="popovers/weights"}}
			{{weight}} {{unit}}
			{{ratchet-icon type="caret"}}
		{{/ratchet-popover-link}}
		{{#ratchet-popover-link tagName="h3" classNames="pull-left"}}
			@ {{percentage}}%
			{{ratchet-icon type="caret"}}
		{{/ratchet-popover-link}}
		{{#ratchet-popover title="Percentage"}}
			<ul class="table-view">
				{{#each percentage in percentages}}
				<li class="table-view-cell">
					<a {{action "setPercentage" percentage}} href="#">
						{{percentage}}%
					</a>
				</li>
				{{/each}}
			</ul>
		{{/ratchet-popover}}
		{{#ratchet-popover-link tagName="h3" classNames="pull-left"}}
			{{barWeight}} {{unit}}
			{{ratchet-icon type="caret"}}
		{{/ratchet-popover-link}}

		{{#ratchet-popover title="Bar Weight"}}
			<ul class="table-view">
				{{#each barWeight in barWeights}}
				<li class="table-view-cell">
					<a {{action "setBarWeight" barWeight}} href="#">
						{{barWeight}} {{unit}}
					</a>
				</li>
				{{/each}}
			</ul>
		{{/ratchet-popover}}

	</div>
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell table-view-divider">
				Plates per side
				{{#ratchet-button type="negative" on-click="reset"}}
					Reset
				{{/ratchet-button}}
			</li>
			{{#each stack in sideStacks}}
				{{#if stack.length}}
					<li class="table-view-cell">
						{{stack.length}} x {{stack.plateWeight}} {{unit}} = {{stack.totalWeight}} {{unit}}
						{{#ratchet-button type="link" click="removePlate"}}
							{{ratchet-icon type="down"}}
						{{/ratchet-button}}
					</li>
				{{/if}}
			{{/each}}
			<li class="table-view-cell table-view-divider">
				Total: {{sideStacks.totalWeight}} {{unit}}
			</li>
		</ul>
	</div>	
</div>