<div class="content-padded">
	<h1>{{effectiveWeight}} {{unit}}</h1>
	<div class="card">
		{{#ratchet-popover-link tagName="h3" classNames="pull-left" name="popovers/weights"}}
			{{weight}} {{unit}}
			{{ratchet-icon type="caret"}}
		{{/ratchet-popover-link}}
		{{#ratchet-popover-link tagName="h3" classNames="pull-left" name="popovers/percentages"}}
			@ {{percentage}}%
			{{ratchet-icon type="caret"}}
		{{/ratchet-popover-link}}
		{{#ratchet-popover-link tagName="h3" classNames="pull-left" name="popovers/bar-weights"}}
			{{barWeight}} {{unit}}
			{{ratchet-icon type="caret"}}
		{{/ratchet-popover-link}}
	</div>
	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell table-view-divider">
				Plates per side
				{{#ratchet-button type="negative" on-click="reset"}}
					Reset
				{{/ratchet-button}}
			</li>
			{{#each stack in sideStacks}}
				{{#if stack.length}}
					<li class="table-view-cell">
						{{stack.length}} x {{stack.plateWeight}} {{unit}} = {{stack.totalWeight}} {{unit}}
						{{#ratchet-button type="link" click="removePlate"}}
							{{ratchet-icon type="down"}}
						{{/ratchet-button}}
					</li>
				{{/if}}
			{{/each}}
			<li class="table-view-cell table-view-divider">
				Total: {{sideStacks.totalWeight}} {{unit}}
			</li>
		</ul>
	</div>	
</div>