<div class="content-padded">
	<h1 class="total-weight">{{effectiveWeight}} {{unit}}</h1>
	<div class="content-padded">
		<section class="inputs">
			<h3 {{action "openSettings" "weights"}}>
				{{weight}} {{unit}}
				{{ratchet-icon type="caret"}}
				<small>Weight</small>
			</h3>
			<h3 {{action "openSettings" "percentages"}}>
				{{percentage}}%
				{{ratchet-icon type="caret"}}
				<small>Intensity</small>
			</h3>
			<h3 {{action "openSettings" "bar-weights"}}>
				{{barWeight}} {{unit}}
				{{ratchet-icon type="caret"}}
				<small>Bar</small>
			</h3>
		</section>
	</div>
	{{#if stacks.totalWeight}}
		<div class="card">
			<ul class="table-view">
				<li class="table-view-cell table-view-divider">
					Plates per side
				</li>
				{{#each stack in stacks}}
					{{#if stack.length}}
						<li class="table-view-cell">
							{{stack.length}} x {{stack.plateWeight}} {{unit}} = {{stack.totalWeight}} {{unit}}
							{{#ratchet-button type="negative" outlined=true on-click="removePlate" data-plate-weight=stack.plateWeight}}
								Remove a plate
							{{/ratchet-button}}
						</li>
					{{/if}}
				{{/each}}
				<li class="table-view-cell table-view-divider">
					Total: {{stacks.totalWeight}} {{unit}}
					{{#if diff}}
						<span class="text-negative">(-{{diff}} {{unit}})</span>
					{{/if}}
				</li>
			</ul>
		</div>
		{{#if isDirty}}
			<div class="content-padded">
				{{#ratchet-button type="negative" block=true on-click="reset"}}
					Reset
				{{/ratchet-button}}
			</div>
		{{/if}}
	{{/if}}
</div>